<!DOCTYPE html>
<html lang="en">
<head>
<title>chat</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />

    {% if selected_theme == 'default' %}
    <link rel="stylesheet" href="/static/styles.css">
    {% elif selected_theme == 'green' %}
    <link rel="stylesheet" href="/static/styles-green.css">
    {% endif %}

<link rel="icon" href="static/favicon.ico" type="image/x-icon" />
</head>
<body>

    <!-- chat list container -->
    <div class="chat-list-container">
        <h3>Chats</h3>
        <ul id="chat-list">
            <!-- Dynamic list of chats will be inserted here -->
        </ul>
        <button id="new-chat-button">New Chat</button>
        <button id="manage-templates-button">Manage Templates</button>
    </div>

    <!-- templates container -->
    <div class="templates-container" id="templates-container" style="display: none;">
        <h3>Templates</h3>
        <ul id="templates-list"></ul>
        <button id="new-template-button">New Template</button>
        <button id="back-to-chats-button">Back to Chats</button>
    </div>

    <!-- message container -->
    <div class="chat-container">
        <div class="chat-messages" id="chat-messages"></div>
    </div>

    <!-- input form -->
    <form id="user-input" method="post" action="#">
      <div class="message-input-container">
        <!-- text input area -->
        <textarea id="input_text" name="input_text" class="message-input"
        oninput="autoExpand(this)" placeholder="Chat..."></textarea>
        <!-- send button -->
        <button type="button" class="send-button">
          <div class="send-icon">⊛</div>
          <div class="loader"><div class="pupil"></div></div>
        </button>
      </div>
    </form>

<script src="/static/functions.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/gh/MarketingPipeline/Markdown-Tag/markdown-tag.js"></script> -->
<script src="/static/markdown-tag.js"></script>
</body>
</html>
